<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="revolhope.splanes.com.smartcam">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".view.MasterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.camera.PreviewCamActivity"
            android:label="@string/label_activity_preview_camera" />
        <activity
            android:name=".view.contact.CameraPreviewNewContactActivity"
            android:label="Scanning contact..."/>
        <activity
            android:name=".view.camera.DisplayResultsActivity"
            android:label="@string/result_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.translate.TranslateActivity"
            android:label="@string/tranlate_activity_title"
            android:screenOrientation="portrait" />

        <activity android:name=".view.contact.NewContactScanInfoActivity" />

        <activity android:name=".view.contact.NewContactManInfoActivity" />

        <activity android:name=".view.contact.PickScanOrManContactActivity" android:theme="@style/Theme.Transparent" />
        <activity android:name=".view.contact.NewContactManTagsActivity" />

    </application>

</manifest>